{% extends 'base.html.twig' %}

{% block title %}A propos{{parent()}}{% endblock %}

{% block body %}
    <section class="header">
        <div class="header-brand">Christophe Chapleau</div>
        <div class="header-links">
            <a href="/">Accueil</i></a>
            <a href="/">Portfolio</a>
            <a href="/contact">Contact</a>
        </div>
    </section>
    <section class="about-banner">
        <div class="about-intro">{ About me }</div>
    </section>
    <section class="about-text">
        <div class="text-block">
            
        </div>
    </section>
    <section class="footer">
        <div class="footer-brand">&copy;2021 Christophe Chapleau • Tous droits r&eacute;serv&eacute;s</div>
        <div class="footer-links">
            <a href="/a-propos">A propos</a>
        </div>
    </section>
{% endblock %}
