{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        {% for image in images %}
            <img class="teet" src="{{ '/uploads/' ~ image.poster }}" alt="teet"/>
        {% endfor %}
    </div>
{% endblock %}
